* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #f1f1f1 !important;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.rating span {
  margin: 0 2px;
}

#main {
  min-height: 80vh;
}

.form-label {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.carsouel__item img {
  height: 40rem;
}

.carsouel__item h3 {
  color: #f1f1f1;
}

.nav-link span {
  font-size: 1.1rem;
  transition: all 0.2s ease;
}

.nav-link span:hover {
  font-weight: bold;
  color: #eeafb0 !important;
}

.dropdown-item {
  transition: all 0.2s ease;
}

.dropdown-item:hover {
  color: #fff;
  background-color: #e03a3c !important;
}

@media (max-height: 760px) {
  .carsouel__item img {
    height: 15rem;
  }
}
section {
  padding: 60px 0;
  overflow: hidden;
  position: relative;
}

.icons__cart {
  transition: all 0.3 ease;
}

.icons__cart:active {
  transform: scale(1.1);
}

.stripe__container button {
  width: 100%;
}

.brand-img {
  filter: grayscale(100%);
  opacity: 0.5;
  transition: 0.5s;
  height: 70px;
  width: 120px;
}

@media (max-height: 760px) {
  .brand-img {
    height: 40px;
    width: 80px;
  }
}
.brand-img:hover {
  filter: grayscale(0%);
  opacity: 1;
}

.tempaltemo-carousel .h1 {
  font-size: 0.5em !important;
  color: #000 !important;
}

.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px 0 32px 0;
  border-radius: 4px;
}

.contact .info-box i {
  font-size: 32px;
  color: #e03a3c;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #f8d4d5;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  border-radius: 4px;
}

.contact .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .error-message br + br {
  margin-top: 25px;
}

.contact .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .form-group {
  margin-bottom: 25px;
}

.contact input,
.contact textarea {
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact input:focus,
.contact textarea:focus {
  border-color: #111111;
}

.contact input {
  padding: 10px 15px;
}

.contact textarea {
  padding: 12px 15px;
}

.contact button[type=submit] {
  background: #e03a3c;
  border: 0;
  padding: 10px 32px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact button[type=submit]:hover {
  background: #e35052;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#footer {
  color: #fff;
  font-size: 14px;
  background: #222222;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #1b1b1b;
  color: #999494;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 26px;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact h3 span {
  color: #e03a3c;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
  color: #fff;
}

#footer .footer-top h4::after {
  content: " ";
  position: absolute;
  display: block;
  width: 40px;
  height: 2px;
  background: #d4b2b3;
  bottom: 10px;
  left: 0px;
}

#footer .footer-top .footer-links ul li {
  padding: 10px;
  display: flex;
  align-items: center;
  margin-left: -50px;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #aaaaaa;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #9d9696;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 5px 10px;
  position: relative;
  border-radius: 4px;
  text-align: left;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #e2a7a8;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #df9b9c;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #2b2b2b;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #e03a3c;
  color: #fff;
  text-decoration: none;
}

/*# sourceMappingURL=App.css.map */
